# ---- General ----
# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# ---- Java ----
# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Maven
/target/
!/.mvn/wrapper/maven-wrapper.jar

# IDEs and editors
# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Build artifacts
/build/
/out-tsc/
/.angular/cache

# Node
node_modules/

# Additional patterns
*.env

